img {
  border-style: none;
  max-width: 100%;
}

#banner-wrap {
  width: 100%;
  height: 100%;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  
  padding: 0;
  position: relative;
  z-index: 1;
}

div.banner-flex {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}

div.banner-item {
  position: relative;
  width: 100%;
  height: 100%;
  
}

.banner-background {
  height: 457px;
  position: absolute;
  width: 100%;
  overflow: hidden;
}


div.banner-item .banner-one {
  background-color: rgb(79, 88, 180);
}

div.banner-item .banner-two {
  background-color: rgb(18, 109, 93);
  left: 100vw;
}

div.banner-item .banner-three {
  background-color: rgba(29, 57, 126, 0.698);
  left: 200vw;
}

div.banner-item .banner-four {
  background-color: rgb(57, 109, 120);
  left: 300vw;
}

div.banner-item .banner-five {
  background-color: rgb(0, 140, 95);
  left: 400vw;
}

div.banner-background-child {
  max-width: 1140px;
  padding-top: 63px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

div.banner-one-content {
  margin-left: -12px;
  margin-right: -12px;
  display: flex;
  flex-wrap: wrap;
}

section.banner-one-content-container {
  flex-direction: row;
  display: flex!important;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
}

div.banner-one-text {
  padding-top: 32px;
  padding-bottom: 20px;
}

div.banner-one-sub-text-setting {
  color: rgb(255, 255, 255);
  font-weight: 300;
  align-items: center;
  display: flex!important;
  margin-bottom: 4px;
  font-size: 32px;
  letter-spacing: -.02em;
  line-height: 40px;
}

div.banner-one-sub-text-set {
  align-items: center;
  justify-content: center;
  margin-left: 4px;
  margin-right: 2px;
  display: flex!important;
}

div.banner-two-sub-text-set-ring {
  border: 3px solid #e92525;
  height: 28px;
  opacity: 0;
  width: 28px;
}

div.banner-two-sub-text-set-circle {
  background-color: #e92525;
  border-radius: 50%;
  height: 16px;
  position: absolute;
  width: 16px;
}

div.banner-one-sub-text {
  color: rgb(255, 255, 255);
  font-size: 42px;
  font-weight: 600;
  letter-spacing: -.02em;
  line-height: 51px;
}

div.banner-two-sub-text {
  color: rgb(255, 255, 255);
  font-size: 42px;
  font-weight: 600;
  letter-spacing: -.02em;
  line-height: 51px;
}

div.banner-three-sub-text {
  color: rgb(255, 255, 255);
  font-size: 42px;
  font-weight: 600;
  letter-spacing: -.02em;
  line-height: 51px;
}

.banner-three-img {
  border-radius: 10px;
  height: 358px;
  object-fit: cover;
}


img.banner-two-img {
  height: 358px;
  border-radius: 10px;
  object-fit: cover;
  border-style: none;
  max-width: 100%;
}

video.banner-one-video {
  height: 358px;
  border-radius: 10px;
  object-fit: cover;
  display: inline-block;
}

